.cause {
    background-color: $color-grey;
    border-radius: 40px;
    padding: 35px 35px;
    margin-top: 27px;
    margin-bottom: 67px;

    @include vp-1024 {
        margin-top: 67px;
    }
    
}

.cause__desc {
    font-family: $ff-robotomed;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: $color-default-white;
    letter-spacing: 0.01em;

    @include vp-1024 {
        font-size: 27px;
        line-height: 36px;
    }
}

.cause__title {
    font-family: $ff-robotomed;
    text-transform: uppercase;
    display: inline-block;
    background-color: transparent;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: $color-default-white;



    @include vp-1024 {
        font-size: 46px;
        line-height: 61px;
    }
}

.cause__list {
    list-style-type: none;
}

.cause__item {
    position: relative;
}

.cause__item::after {
    @include vp-1024 {
        content: "";
        position: absolute;
        width: 13px;
        height: 13px;
        background-color: #94c04c;
        border-radius: 40px;
        left: -27px;
        top: 13px;
    }
}

.btn-cause {
    display: block;
    margin: 0 auto;
}