.equipment__title--mobile {
    display: none;
}

.equipment__title {
    @include vp-768 {
        display: inline-block;
        font-family: $ff-robotomed;
        font-style: normal;
        font-weight: 500;
        font-size: 35px;
        line-height: 46px;
        color: $color-default-white;
        text-align: center;
        background-color: $color-grey;
        width: 100%;
        text-transform: uppercase;
    }

}

.equipment-container {
    position: relative;
    z-index: 1;
    background-image: url("../../img/equipment-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 59px;
    padding: 17px 13px;

    @include vp-1024 {
        padding: 29px 84px;
    }
}

.equipment-block__title {
    z-index: 2;
    position: relative;
    font-family: $ff-robotomed;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: $color-default-white;
    text-transform: uppercase;

    @include vp-1024 {
        font-size: 27px;
        line-height: 36px;
    }


}

.equipment-block__description {
    position: relative;
    z-index: 2;
    font-family: $ff-robotomed;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    color: $color-default-white;

    @include vp-1024 {
        font-size: 27px;
        line-height: 36px;
    }
}

.equipment-block {
    position: relative;
    padding: 20px 30px;
    margin-bottom: 40px;

    @include vp-1024 {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 100px;
    }

}

.equipment-block::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0D0D0D;
    opacity: 0.46;
    border-radius: 40px;
    z-index: 1;
    pointer-events: none;
}

.btn-equip {
    background-color: #94C04C;
    border-radius: 40px;
    font-family: $ff-robotomed;
    padding: 15px 75px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 50px;
    display: block;


}