.hero-container::before {
    content: "";
    display: block;
    position: absolute;
    background-image: url("../../img/header-background-desktop.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #232628;;
    width: 100%;
    height: 883px;
    z-index: 1;
    top: 0;
}

.hero {
    min-height: 647px;
}

.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero__logo {
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    top: 368px;
    position: absolute;

    @include vp-768 {
        width: 500px
    }
}